// В этом файле должны быть стили для БЭМ-блока slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element

}
