// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element

  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;

  @media (min-width: $screen-lg) {
    max-width: 860px;
}

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 27px));
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0;
    color: transparent;
    background-color: #e8e8e8;

    &:before {
      display: inline-block;
      content: '';
      width: 8px;
      height: 8px;
      border-right: 1px solid #151515;
      border-bottom: 1px solid #151515;
      transform: translateX(20%) rotate(135deg);

      @media (min-width: $screen-sm) {
        width: 11px;
        height: 11px;
      }
    }

    @media (min-width: $screen-sm) {
      width: 40px;
      height: 40px;
    }
  }

  .owl-prev {
    left: 10px;

    @media (min-width: $screen-sm) {
      left: -63px;
    }

    @media (min-width: $screen-lg) {
      left: -70px;
    }

  }

  .owl-next {
    right: 10px;

    @media (min-width: $screen-sm) {
      right: -63px;
    }

    @media (min-width: $screen-lg) {
      right: -70px;
    }

    &:before {
      transform: translateX(-20%) rotate(-45deg);
    }
  }

  .owl-dots {
    display: flex;
    justify-content: center;
    padding-top: 26px;
  }

  .owl-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;

    &:before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: #c7c7c7;
      border-radius: 50%;
      transition: all 0.3s;
    }

    &.active:before,
    &:hover:before {
      background-color: #222;
    }
  }

}
