// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element

  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;

  @media (min-width: $screen-lg) {
    max-width: 860px;
}

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 27px));
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 0;
    color: transparent;
    background-color: #e8e8e8;

    &:before {
      content: '';
      width: 10px;
      height: 17px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.7);
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9.3 17' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3ERight%3C/desc%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linejoin='butt' stroke-linecap='butt' stroke-width='1' points='0.5,0.5 8.5,8.5 0.5,16.5'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $screen-sm) {
        width: 16px;
        height: 16px;
      }
    }

    @media (min-width: $screen-sm) {
      width: 40px;
      height: 40px;
    }
  }

  .owl-prev {
    left: 10px;

    @media (min-width: $screen-sm) {
      left: -63px;
    }

    @media (min-width: $screen-lg) {
      left: -70px;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(180deg) scale(0.7);
    }

  }

  .owl-next {
    right: 10px;

    @media (min-width: $screen-sm) {
      right: -63px;
    }

    @media (min-width: $screen-lg) {
      right: -70px;
    }

  }

  .owl-dots {
    display: flex;
    justify-content: center;
    padding-top: 26px;
  }

  .owl-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;

    &:before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: #c7c7c7;
      border-radius: 50%;
      transition: all 0.3s;
    }

    &.active:before,
    &:hover:before {
      background-color: #222;
    }
  }

}
