// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/laura.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  background-color: #120001;

  @media all and (-ms-high-contrast: none){
    & { height: 100vh; } /* IE10 */
    *::-ms-backdrop, & { height: 100vh; } /* IE11 */
  }

  @media (min-width: $screen-md) {
    background-attachment: fixed;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
  }

  &__text {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px 20px 80px;
    margin: 0 auto;
    color: #fff;
  }

  &__uptitle {
    display: block;
    font-size: 10px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 64px;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    @media (min-width: $screen-sm) {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.17;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 38px;
    margin: 0;

    @media (min-width: $screen-sm) {
      font-size: 68px;
    }

    @media (min-width: $screen-lg) {
      font-size: 72px;
    }
  }

  &__descr {
    font-size: 14px;
    font-weight: 300;

    @media (min-width: $screen-sm) {
      font-size: 22px;
      max-width: 700px;
      margin: auto;
    }

    @media (min-width: $screen-lg) {
      font-size: 24px;
    }
  }

  &__arrow-wrap {
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%);
    transition: all 0.2s;

    &:hover,
    &:focus {

      svg {
        fill: #ddd;
      }
    }

    @media (min-width: $screen-sm) {
      bottom: 50px;
    }
  }

  &__arrow-svg {
    fill: #fff;
    transform: scale(0.7);
    transition: fill 0.3s;
    animation: arrow-bottom 1.7s infinite ease;
  }

  &__lang {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
  }
}

@keyframes arrow-bottom {
  0% {
    transform: translateY(0) scale(0.7);
  }

  50% {
    transform: translateY(-7px) scale(0.7);
  }

  55% {
    transform: translateY(-7px) scale(0.7);
  }

  100% {
    transform: translateY(0) scale(0.7);
  }
}
