// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  padding-top: 27px;
  padding-bottom: 40px;
  background-color: #000;
  color: #B2B2B2;

  @media (min-width: $screen-sm) {
    padding-top: 40px;
    color: #888;
  }

  .form-control {
    min-height: 40px;
    border: 1px solid #888;
    font-size: 14px;
    background: transparent;
    color: #888;
  }

  .form-group {
    margin-bottom: 15px;
  }

  &__form {
    font-size: 14px;
    padding-bottom: 30px;

    @media (min-width: $screen-lg) {
      margin-right: 5px;
      padding-bottom: 0;
    }
  }

  &__map {
    width: 100%;
    height: 200px;
  }

  &__text {
    text-align: center;
    padding-bottom: 7px;
    letter-spacing: .2px;
  }

  &__button {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 50px;
    background-color: #B2B2B2;
    color: #000;
    text-decoration: none;

    span {
      color: #000;
    }

    @media (min-width: $screen-sm) {
    background-color: #888;
    }
  }

  &__wrapper {
    text-align: center;
  }


  &__wrapper:hover {
    color: #fff;
  }

  &__wrapper:hover &__button {
    background-color: #fff;
  }

  &__link {
    display: block;
    margin-right: 15px;
    margin-bottom: 7px;
    text-decoration: none;
    font-size: 13px;
    color: #888;

    @media (min-width: $screen-sm) {
      display: inline;
      color: #666;
    }
  }

  &__link:hover {
   text-decoration: none;
   color: #fff;
  }

  &__link-wrapper {
    text-align: center;
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      margin-bottom: 35px;
    }
  }
}
