// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  // padding-top: 27px;
  // padding-bottom: 40px;
  background-color: #000;
  color: #B2B2B2;

  @media (min-width: $screen-sm) {
    // padding-top: 40px;
    color: #888;
  }

  .form-control {
    min-height: 40px;
    border: 1px solid #888;
    font-size: 14px;
    background: transparent;
    color: #888;
  }

  .form-group {
    margin-bottom: 15px;
  }

  &__contact-wrap {
    padding-top: 20px;
    padding-bottom: 20px;

    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.3s;

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  &__contact-title {
    margin-bottom: 20px;
  }

  &__contact-list {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    font-size: 18px;
  }

  &__inner {

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__form-inner {
    width: 100%;
    max-width: 600px;
    margin: auto;

    @media (min-width: $screen-sm) {
      max-width: 400px;
      margin: 0;
    }
  }

  &__form {
    font-size: 14px;
    padding: 27px 20px 40px;

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: center;
      order: 1;
      width: 50%;
      padding: 27px 40px 40px 40px;
    }

    @media (min-width: $screen-lg) {
      padding: 27px 40px 40px 80px;
    }
  }

  &__form-btns {
    display: flex;
    justify-content: flex-end;
  }

  &__map {
    width: 100%;
    height: 50vh;

    @media (min-width: $screen-sm) {
      width: 50%;
      height: auto;
      min-height: 550px;
    }
  }

}
