//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/page-header/page-header.pug
include blocks/slider/slider.pug
include blocks/player/player.pug
include blocks/page-footer/page-footer.pug
